{{#if carrito.length}}
<div class="contenedor-tabla-carrito">
  <table class="carrito__table">
    <tr class="tr-principales">
      <th>Nombre</th>
      <th>Precio</th>
      <th>Marca</th>
      <th>Foto</th>
      <th>Cantidad</th>
      <th>Envio</th>
      <th>Acción</th>
    </tr>

    {{#each carrito}}
      <tr>
        <td>{{nombre}}</td>
        <td>${{precio}}</td>
        <td>{{marca}}</td>
        <td>
          <img
            style="display:block; margin: 0 auto;"
            src="{{imagen}}"
            width="50"
            alt="{{nombre}}"
          />
        </td>
        <td>
            <button id="quitarUno">-</button>
            {{cantidad}}
            <button id="agregarUno">+</button>
        </td>

        {{#if envio}}
          <td>Si</td>
        {{else}}
          <td>No</td>
        {{/if}}

        <td>
          <button
            onclick="carritoController.borrarProductoCarrito({{id}})"
          >borrar</button>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="contenedor-total">
    <h3 id="cantidadProductosCarrito"></h3>
    <h3 id="totalCarrito"></h3>
  </div>
      <div class="contenedorBotonCarrito">
    <button
      class="btn__enviarCarrito"
      onclick="carritoController.enviarCarrito()"
    >Enviar</button>
  </div>
  
{{else}}
  <h2 class="carritoVacio-mensaje">El carrito está vacío</h2>
{{/if}}
